.contenedor {
border: 5px solid red;
background-color: white;
display: grid;
grid-template-rows: 100px 200px;
grid-auto-columns: 100px;
grid-auto-flow: column;
gap: 40px;


/*
column-gap: 15px;
row-gap: 30px;
*/



}


.item {

    border: 5px solid cyan;
    font-size: 4rem;
}