.contenedor {
border: 5px solid red;
background-color: white;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contenedor1 {
border: 5px solid red;
background-color: white;
display: grid;
margin-top: 100px;
grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        
    }
    

/*FUNCIONES ESPECIALES

fr : ancho o alto a filas y columnas, una fraccion de la linea
min-content : ajusta el ancho de la celda, sin romper el contenido
max-content : ensanchar las filas para que el contenido se vea lo mas amplio posible 
auto-fill/auto-fit: ocupe el 100% del espacio. agrega columnas fantasmas. 

*/


.item {

    border: 5px solid cyan;
    font-size: 4rem;
}

