.contenedor {
border: 5px solid red;
background-color: white;
display: grid;
grid-template-columns: minmax(30px, 200px) 200px minmax(60px, 200px);
grid-auto-rows: repeat(3, auto);

}

/*FUNCIONES ESPECIALES

minmax
repeat
***tambien arreglamos el problema de que se rompe el texto
*/


.item {

    border: 5px solid cyan;
    font-size: 4rem;
}


.item-1 {

    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
}

.item-2{

    border: 5px solid #e1bee7;
    background-color: #fff1ff;
}

.item-3{

    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
}